module.exports = {
    "port": 3600,
    "appEndpoint": "https://example.com:3600",
    "apiEndpoint": "https://example.com:3600",
    "ssl_cert": "/etc/letsencrypt/live/example.com/cert.pem",
    "ssl_key": "/etc/letsencrypt/live/example.com/privkey.pem",
    "ca_cert": "/etc/letsencrypt/live/example.com/fullchain.pem",
    "jwt_secret": "rfthEHRGRGER_REPLACE_THIS_fdthtrfjGHdsh4hEFSREG",
    "jwt_expiration_in_seconds": 36000,
    "ewelink_email": "john@example.com",
    "ewelink_password": "abcd123",
    "ewelink_region": "us",
    "environment": "prod",
    "permissionLevels": {
        "NORMAL_USER": 1
    },
    "users": [
        {
            _id: 0,
            firstName: "John",
            lastName: "Smith",
            email: "john@example.com",
            password: "...............................................................................................................==",
            permissionLevel: 1
        }
    ]
};
